<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Let's Chat!
  link(rel="stylesheet", href="/scripts/bootstrap/dist/css/bootstrap.css")
  link(rel="stylesheet", href="style.css")
body
  block content
  script(src="/scripts/jquery/dist/jquery.js")
  script(src="/scripts/socket.io-client/dist/socket.io.js")
  script(src="/client.js")