extends base.pug

block content
  #new-message-area
    h2 What's up?
    form#new-message-form.form-horizontal
      .form-group
        .col-sm-8
          input#new-message.form-control(placeholder="What's up?", autocomplete="off")
        .col-sm-4
          button.btn.btn-default(type='submit') Send Message!
  .container
    .row
      .col-sm-3
        #room
          h4 People in this chat:
          ul#users
      .col-sm-6
        ul#messages